
.playfair-display-fo {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.ephesis-regular {
  font-family: "Ephesis", cursive;
  font-weight: 200;
  font-style: normal;
}

.league-script-regular {
  font-family: "League Script", serif;
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: 'Playfair Display', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #FFDEE3;   */
    background-color: rgb(0, 0, 0);  
    
    margin: 0;
    overflow-x: hidden;
    z-index: 1; /* Ensures body is on top */

  }
  
  .letter-container {
    text-align: center;
    background-image: url("beige.png");
    border-radius: 10px;  }
  
  .envelope {
    width: 900px;
    height: 700px;
    background-image: url("beige.png");
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    position: relative;
    margin: 20px auto;
    cursor: pointer;
    border-radius: 10px;
  }
  
  button {
    background-color: red;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .message {
    /* background: #fff; */
    border: 5px solid #000000;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    max-width: 400px;
    text-align: center;
    text-decoration:wavy; 
  }
 
#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  

#singleheart {
  position: absolute;
  top: 100px;
  right: 80px;
  width: 80px;
  object-fit: cover;
  z-index: 1;
}

#singleheart1 {
  position: absolute;
  top: 160px;
  right: 140px;
  width: 40px;
  object-fit: cover;
  z-index: 1;
}

#singleheart2 {
  position: absolute;
  top: 180px;
  right: 80px;
  width: 60px;
  object-fit: cover;
  z-index: 1;
}

#date {
  /* border: 2px solid black;
  border-radius: 30px; */
  padding: 5px 10px;
  position: absolute;
  left: 360px;
  top: 150px;
  font-size: 60px;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 30px;
  font-family: "League Script";
  letter-spacing: 4px;
}

#thank {
  padding: 5px 10px;
  position: absolute;
  left: 80px;
  top: 50px;
  /* background-color: white; */
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 30px;
  font-family: 'Playfair Display';
}

#dash {
  position: absolute;
  top: 100px; 
  left: 100px; 
}

#dash1 {
  position: absolute;
  top: 180px; 
  left: 100px;
}

#to {
  position: absolute;
  font-size: 80px;
  color: red; 
  top: 45px; 
  left: 210px;
  font-family: "League Script";
}

#you {
  padding: 5px 10px;
  position: absolute;
  left: 120px;
  top: 130px;
  /* background-color: white; */
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 30px;

}

#gradient {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 670px;
  height: 300px;
  object-fit: cover;
  z-index: 1;
}

#greeting {
  padding: 5px 10px;
  position: absolute;
  left: 60px;
  top: 220px;
  /* background-color: white; */
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 30px;
  text-decoration: underline;
}

/* #note {
  padding: 5px 10px;
  position: absolute;
  left: 100px;
  top: 400px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 650px;
  height: 30px;
  text-decoration: wavy;

  line-height: 2.0; 
  white-space: pre-wrap; 
} */

#typewrite {
  padding: 5px 10px;
  position: absolute;
  left: 100px;
  top: 400px;
  /* background-color: white; */
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 650px;
  height: 30px;
  text-decoration: wavy;
  z-index: 1;
  /* text-decoration: underline; */

  /* Line Spacing */
  line-height: 2.0; /* Adjust this value as needed */
  white-space: pre-wrap; /* Preserve line breaks from text */
  animation: blink 0.75s step-end infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}


#signature {
  padding: 5px 10px;
  position: absolute;
  right: 90px;
  bottom: 50px;
  /* background-color: white; */
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 30px;
  z-index: 1;

}



#suitor {
  padding: 5px 10px;
  position: absolute;
  right: 110px;
  bottom: 0px;
  /* background-color: white; */
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 30px; 
  /* text-decoration: underline; */
  font-family: "League Script";
  color: red;

}

#pics {
  padding: 5px 10px;
  position: absolute;
  left: 10px;
  bottom: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
}

#redletter{
  position: absolute;
  top: 100px;
  right: 80px;
  width: 500px;
  object-fit: cover;
  z-index: 0;
}

#recievedletter {
  position: absolute;
  font-size: 60px;
  font-weight: bold;
  position: absolute;

  top: 40%; /* Center vertically over the red letter */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Proper centering */

  z-index: 1;
  object-fit: cover;
}

 /* .block-Swipe2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  background-image: url('tw.svg'); 
  background-size: cover;
  transition: transform 1s ease;
  z-index: 2;
} */

.block-Swipe2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  background-image: url('tw.svg'); /* Use a hearts pattern image */
  background-size: cover;
  opacity: 1; /* Start fully visible */
  transform: translateX(0); /* Start in place */
  transition: opacity 1s ease, transform 1s ease; /* Transition both transform and opacity */
  z-index: 2;
}

/* Fade out and slide out */
.block-Swipe2.fade-out {
  opacity: 0; /* Fade out */
  transform: translateX(100%); /* Slide out to the right */
}

  
#falling-hearts {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1; /* Place the hearts behind other elements */
}

.heart {
  position: absolute;
  top: -50px;
  font-size: 24px;
  width: 100px; /* Set the size of the heart */
  height: 100px;
  background-image: url('wh.png'); /* Replace with the correct path to your PNG */
  background-size: cover; /* Ensure the image scales correctly */
  animation: fall 5s linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
    opacity: 1;
  }
}

#singleheart {
  position: absolute;
  width: 135px; /* Resize as needed */
  top: 540px;
  right: 107px;
  z-index: 0;
  opacity: 0.4;
}

#letteropen2 {
  background-color: rgb(245, 143, 160);
  font-family: 'Playfair Display', cursive;
  position: relative;
  left: 40%; 
}
