
.playfair-display-fo {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.ephesis-regular {
  font-family: "Ephesis", cursive;
  font-weight: 200;
  font-style: normal;
}


body {
    font-family: 'Ephesis', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: pink;
    margin: 0;
    overflow-x: hidden;
  }
  
  .letter-container {
    text-align: center;
  }
  
  .envelope {
    width: 650px;
    height: 700px;
    background-color: white;
    border: 2px solid red;
    padding: 10px;
    position: relative;
    margin: 20px auto;
    cursor: pointer;
    border-radius: 10px;
  }
  
  button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .message {
    background: #fff;
    border: 5px solid #ff6b6b;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    max-width: 400px;
    text-align: center;
  }
 
#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  

#singleheart {
  position: absolute;
  top: 100px;
  right: 80px;
  width: 80px;
  object-fit: cover;
  z-index: 1;
}

#singleheart1 {
  position: absolute;
  top: 160px;
  right: 140px;
  width: 40px;
  object-fit: cover;
  z-index: 1;
}

#singleheart2 {
  position: absolute;
  top: 180px;
  right: 80px;
  width: 60px;
  object-fit: cover;
  z-index: 1;
}

#date {
  border: 2px solid black;
  border-radius: 30px;
  padding: 5px 10px;
  position: absolute;
  right: 50px;
  top: 50px;
  background-color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 30px;
}

#thank {
  padding: 5px 10px;
  position: absolute;
  left: 80px;
  top: 80px;
  background-color: white;
  font-size: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 30px;
}

#you {
  padding: 5px 10px;
  position: absolute;
  left: 132px;
  top: 130px;
  background-color: white;
  font-size: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 30px;

}

#gradient {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 670px;
  height: 300px;
  object-fit: cover;
  z-index: 1;
}

#greeting {
  padding: 5px 10px;
  position: absolute;
  left: 60px;
  top: 220px;
  background-color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 30px;
  text-decoration: underline;
}

#note {
  padding: 5px 10px;
  position: absolute;
  left: 0px;
  top: 450px;
  background-color: white;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 650px;
  height: 30px;
  text-decoration: underline;

  /* Line Spacing */
  line-height: 2.0; /* Adjust this value as needed */
  white-space: pre-wrap; /* Preserve line breaks from text */
}

#signature {
  padding: 5px 10px;
  position: absolute;
  right: 0px;
  bottom: 50px;
  background-color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 30px;

}

#suitor {
  padding: 5px 10px;
  position: absolute;
  right: 45px;
  bottom: 20px;
  background-color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 30px; 
  text-decoration: underline;

}

#pics {
  padding: 5px 10px;
  position: absolute;
  left: 10px;
  bottom: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
}

#redletter{
  position: absolute;
  top: 100px;
  right: 80px;
  width: 500px;
  object-fit: cover;
  z-index: 0;
}

#recievedletter {
  position: absolute;
  font-size: 60px;
  font-weight: bold;
  position: absolute;

  top: 40%; /* Center vertically over the red letter */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Proper centering */

  z-index: 1;
  object-fit: cover;
}

 /* The block swipe effect */
 .block-Swipe2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  background-image: url('transition.png'); /* Use a hearts pattern image */
  background-size: cover;
  transition: transform 1s ease;
  z-index: 2;
}

