
.playfair-display-fo {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  
  .ephesis-regular {
    font-family: "Ephesis", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    font-family: 'Perandory', sans-serif;
    /* background-color: #fee2e6; */
    background-color: #FFDEE3;  
    overflow-x: hidden;

}


  

svg {
    overflow: visible;
}

.text-container {
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Perandory', sans-serif;

  }


.letter-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
    filter: contrast(200%);


}

.animated-mail {
    position: absolute;
    height: 200px;
    width: 200px;
    top: 30%;
    right:50%;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
    

     .body {
        position: absolute;
        bottom: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 200px 400px;
        border-color: transparent transparent #fda7ae transparent;
        z-index: 2;
    } 
}

.top-fold {
    position: absolute;
    top: 0px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 200px 0 200px;
    -webkit-transform-origin: 50% 0%;
    -webkit-transition: transform .4s .4s z-index .2s .4s;
    -moz-transition-origin: 50% 0%;
    -moz-transition: transform .4s .4s, z-index .2s .4s;
    transform-origin: 50% 0%;
    transition: transform .4s .4s, z-index .2s .4s;
    /* border-color: #fdbedd transparent transparent transparent; */
    border-color: #fdbedd transparent transparent transparent;

    z-index: 2;
}

.back-fold {
    position: absolute;
    bottom: 0;
    width: 400px; 
    height: 200px;
    background: #fff4d1;
    z-index: 0; 

}

.left-fold {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 0 100px 200px;
    border-color: transparent transparent transparent #fda7ae;
    z-index: 2;

}  

.letter {
    left: 20px;
    bottom: 0px; 
    position: absolute;
    width: 360px;
    height: 120px;

    border-image: radial-gradient(#ff0b27  69%, #00000000 70%) 84.5%/50%;
    aspect-ratio: 2;
    /* border-image: radial-gradient(#FF8896  69%, #00000000 70%) 84.5%/50%; */
    clip-path: polygon(-41% 0, 50% 91%, 141% 0);


    /* background: red; */
    z-index: 1;
    overflow: hidden; 
    -webkit-transition: .4s .2s;
    -moz-transition: .4s .2s;
    transition: .4s .2s; 

    .letter-border {
        height: 10px;
        width: 100%;
        background: repeating-linear-gradient(
            -45deg,
            /* white, */
            /* white 8px, */
            transparent 8px,
            transparent 18px
        );
    }
    .letter-title {
        position: relative;
        margin-top: 30px;
        margin-left: 30px;
        height: 10px;
        width: 80%;
        font-size: 35px;
        text-align: center;
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 5px rgb(255, 255, 255); /* Shadow effect */
        letter-spacing: 3px;
        /* background: #cb5a5e;  */
        z-index: 1; 
    }
    .letter-context {
        margin-top: 10px;
        margin-left: 5px;
        height: 10px;
        width: 20%;
        /* background: #cb5a5e; */
    }
    .letter-stamp {
        margin-top: 0px;
        margin-left: 120px;
        border-radius: 100%;
        height: 30px;
        width: 30px;
        /* background: #cb5a5e; */
        opacity: 0.3;
        z-index: 1; 
    }
    .letter-open{
        position: absolute;
        margin-left: 125px; 
        margin-top: 100px;
        width: 100px;
        height: 30px;
        background-color: rgb(164, 164, 164);
        border-radius: 5px;
        /* font-family: "Ephesis"; */
        font-family: "Ephesis", sans-serif;
        font-weight: bolder;
        font-size: 30px;
        letter-spacing: 2px;
        color: rgb(0, 0, 0);
        border-color: rgb(0, 0, 0);
        z-index: 10; /* Higher value to bring it above other elements */

        
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s ease; /* Smooth transition */
    }
    
    .letter-open:hover {
        background-color: rgb(233, 151, 176); /* Slight color change on hover */
    }
}

  .shadow {
    position: absolute;
    top: 350px;
    left: 50%;
    width: 300px;
    height: 20px;
    transform: translateX(-50%);
    border-radius: 50%; /* Circular shape */
    background: radial-gradient(circle, rgba(251, 210, 215, 0.2) 70%, rgba(188, 183, 183, 0.2) 20%);
    transition: .4s ease-in-out;
    z-index: 1; /* Send shadow beneath the letter */
}

    .letter-image:hover {
        .animated-mail {
            transform: translateY(50px);
            -webkit-transform: translateY(50px);
            -moz-transform: translateY(50px);
        }

        .letter-image:hover .shadow {
            width: 301px;
            height: 25px;
            opacity: 0.5;
        }
    .animated-mail .top-fold {
        transition: transform .4s, z-index, z-index .2s;
        transform: rotateX(180deg);
        -webkit-transform: rotateX(180deg);
        -moz-transition: transform .4s, z-index .2s;
        -moz-transform: rotateX(180deg);
        z-index: 0;
    }

    .animated-mail .letter {
        height: 360px;
    }

    .shadow {
        width: 500px;
    }
    }

/* .block-swipe {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100vw;
    height: 100vh;
    background-color: white;
    background-image: url('tw.svg'); 
    background-size: cover;
    transition: transform 1s ease, opacity 1s ease; 
    opacity: 0.3; 
    z-index: 2;
  }
  
  .block-swipe.visible {
    right: 0;
    opacity: 1; 
  } */

  /* The block swipe effect */
.block-swipe {
    position: absolute;
    top: 0;
    right: -100%; /* Starts off-screen */
    width: 100vw;
    height: 100vh;
    background-color: white;
    background-image: url('tw.svg'); /* Use a hearts pattern image */
    background-size: cover;
    opacity: 0; /* Start with the image hidden */
    transform: translateX(100%); /* Start off-screen */
    transition: transform 1s ease, opacity 1s ease; /* Transition both transform and opacity */
    z-index: 2;
  }
  
  /* When triggered to show the block swipe */
  .block-swipe.visible {
    right: 0; /* Bring it back on screen */
    opacity: 1; /* Fade in */
    transform: translateX(0); /* Slide in */
  }
  

  
  #falling-hearts {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1; /* Place the hearts behind other elements */
  }
  
  .heart {
    position: absolute;
    top: -50px;
    font-size: 24px;
    width: 30px; /* Set the size of the heart */
    height: 30px;
    background-image: url('rh.png'); /* Replace with the correct path to your PNG */
    background-size: cover; /* Ensure the image scales correctly */
    animation: fall 5s linear infinite;
  }
  
  @keyframes fall {
    to {
      transform: translateY(100vh);
      opacity: 1;
    }
  }
  
    #bgMusic {
        position: absolute; 
        bottom: 15%; 
        left: 40%;
    }

    #bgMusic {
        position: absolute; 
        bottom: 15%; 
        left: 40%;
    }